body{
  overflow-y: auto;
  background-color:#a3a3a3;
}

/*index */

.index .title{
    padding:1em;
}

.index .game{
    padding-left:2em;
    padding-bottom:1em;
}

/*game*/

.header-container{
    width:100%;
    background-color:rgb(20, 40, 160);
    top:0;
    height:2.7em;
    color:#f3f3f3;
    font-family: 'Halant', serif;
    border-bottom:1px solid black;
}

#gamename{
  padding:0.4em 1em;
  font-size:1.5em;
  width:80%;
}

#backbutton{
    float:right;
    margin-right:1em;
    cursor:pointer;
}

#backbutton img{
    height:2.7em;
}

footer{
  /*font-family: 'Open Sans';*/
    font-family: 'Halant', serif;

  position: fixed;
  bottom:0;
  width:100%;
  background-color: grey;
  height:2.7em;
}

.button{
    padding:0.5em 1em;
    border:1px solid;
    cursor:pointer;
}

.container{
  width:100%;
  /*margin-top:2.7em;*/
  font-family: 'Open Sans';
  background: linear-gradient(#a3a3a3, #f3f3f3);
}

.move{
    position:fixed;
    z-index:2;
    background-color:#005DFF;
    right:0;
    animation:ease-in 2s;
    cursor:pointer;
    width:5em;
    text-align:center;
    display:none;
}

.move:hover{
    color:grey;
}

#use{
    top:8em;
}

#clue{
    top:14em;
}

#discard{
    top:11em;
}



.title.third{
    width:33%;
    padding:0.7em 0.5em;
    font-size:1.2em;
    float:left;
}

.player{
    width:100%;
}

.playername{
    padding:0.7em 0.5em;
    padding-top:0em;
    font-size:1.2em;
    word-wrap:break-word;
}

.playerhand{
    width:100%;
    overflow:auto;
}

.card{
    border:1px solid grey;
    height:5em;
    width:4em;
    float:left;
    margin-left:0.5em;
    margin-right:0.5em;
    padding-top:1.8em;
    padding-left:0.6em;
    margin-bottom:1em;
    border-radius:0.2em;
    background: white;
}

.card.selected{
    color:white;
    background-color:black;
}

.card.color{
    color:rgb(34,34,221);
}

.suit.color{
    background-color:lightblue;
}

.suit{
    height:2.8em;
    float:right;
    margin-top:-1.9em;
    margin-left:0.3em;
}

.suit.hidden{
    display:none;
}

.suit.hidden.blue{
    display:block;
}

.playtitle{
    width:100%;
    border-bottom:1px solid grey;
    font-size:1.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-weight:bold;
    text-align:center;
}

.play .action{
    width:100%;
    overflow:auto;
    padding:2em;

    border-bottom:1px solid grey;
}

.play .description{
    padding-bottom:1em;
}

.play .description select{
    width:8em;
    margin:1em;
}

.play .button{
    padding:0.5em 1em;
    border:1px solid grey;
    float:right;
    margin-right:1em;
    cursor:pointer;
}

.moves{
    padding:2em;
}

.movestring{
    margin-bottom:1em;
}


.buttonbar .buttonbottom{
  height:2.7em;
  width:100%;
  background-color: rgba(0,0,0,0.6);
  float:left;
  border-left:1px solid black;
  cursor: pointer;
  text-align:center;
  color:white;
}

#playernum{
  padding:0.5em 0em;
  font-size:1.2em;
}


.buttonbar .buttonbottomn.selected{
  background-color: rgba(0,0,0,0.9);
}

.buttonbar .buttonbottom img{
    height:2.7em;
}

::-webkit-scrollbar{
  width:1px;
}

.whitespace{
  width:100%;
  height:8em;
  background-color: linear-gradient(#f3f3f3, #ffffff);
}

#lastmove{
    background-color: white;
    border: 1px solid black;
    width: 80%;
    padding: 0.5em 1em;
    position: absolute;
    left: 10%;
    top: 3em;
    border-radius: 5px;
}

/*for index page*/

.main
.container.index{
    overflow:auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {-moz-appearance: textfield;}

#addgame{
    width:8em;
    margin-left:2em;
    float:right;
    margin-right:1em;
}

.container.index input{
    width:80%;
    margin-left:10%;
    padding:0.5em 1em;
    margin-bottom:1em;
}